/* home-content */
.content {
    height: 90vh;
    width: 100%;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #f2f2f2; */
    /* background: url(assets/background.jpg);
    background-size: cover;
    background-position: center; */
}

.signup-btn {
    background-color: #8ae68e;
    border: none;
    padding: 13px 27px 13px 27px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 10px;
}

.main-heading .title {
    color: #120b46;
}

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width : 500px) {
    .main-heading {
        font-size: large;
    }
}